:root{
    --color-1: #Ec5E65;
    --color-2: #5E6BCE;
    --color-3: #E7F2F8;
    --p-color: #90929D;
    --section-padding: 1rem 2%;
    --h1: 4.2rem;
    --h2: 2rem;
    --h3: 1.8rem;
    --p: 1.6rem;
    --margin-bt: 1.5rem;
    #FC5E65

    
/* #E75195
#B35CBC
#5E6BCE
#0071C4
#006FA2   */

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Gudea', sans-serif;
}

html{
    font-size: 100% ;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .7rem;
    scroll-padding-top: 3rem;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--color-1);
    border-radius: 5rem;
}

a{
    text-transform: capitalize;
}

.image{
    width: 100%;
}
 

/* banner section */
/* .banner{
    width: 100%;
    height: 600px;
    position: absolute;
    margin-top: 10%;
    padding: var(--section-padding);
}

.banner .image img{
    width: 100%;
    height: 600px;
    object-fit: fit;
    aspect-ratio: 2/3;
}
.banner .text{
    position: absolute;
    margin-top: 13rem;
}
.banner .text h1{
    color: #fff;
    font-size: var(--h1);
    margin-bottom: var(--margin-bt);
}

.banner .text p{
    font-size: var(--p);
    margin-bottom: var(--margin-bt);
}

.banner .text p span{
    color: var(--p-color);
}

.banner button{
    width: 15rem;
    padding: 1rem;
    color: #fff;
    background-color: var(--color-1);
    border-radius: 40px;
}

 */


























/* meadia queris */

@media (max-width:920px){
    html{
        font-size: 80%;
    }

    .image img{
        width: 3rem;
    }

    nav ul{
        position: absolute;
        display: none;
        top: 100%;
        right: 3%;
        width: 300px;
        padding: 1rem;
        z-index: 10000;
        transition: all 300ms ease;
    }

    nav ul.show{
        display: block;
    }

    nav li{
        width: 100%;
        margin: 1rem 0;
        padding: .6rem;
        background-color: #e2e3e7;
    }

    .nav-down i{
        display: block;
        cursor: pointer;
    } */

    
}